__pycache__/
.venv/
node_modules/
*.log
*.err
backend/data/inbound/ARCHIVE/
backend/data/inbound/ERROR/
backend/storage/files/
paquete_dockerfull_tickets_competencia/backend/data/inbound/ARCHIVE/
paquete_dockerfull_tickets_competencia/backend/data/inbound/ERROR/
paquete_dockerfull_tickets_competencia/backend/storage/files/
tickets/
.DS_Store
